# Large file (+5MB) are ignored

Writeups/Offline/Technofair 10.0 Preliminaries/[SOLVED] mencariPW/mencariPW.exe_extracted/python310.dll
Writeups/Offline/Technofair 10.0 Preliminaries/[SOLVED] mencariPW/mencariPW.exe_extracted/libcrypto-1_1.dll
Writeups/Offline/Technofair 10.0 Preliminaries/[SOLVED] mencariPW/mencariPW.exe
Writeups/Offline/Technofair 10.0 Preliminaries/[FIN] PM Gratis/aplikasi_curhat.apk
Writeups/Offline/Technofair 10.0 Preliminaries/[FIN] PM Gratis/aplikasi_curhat/smali/kotlin/collections/ArraysKt___ArraysKt.smali
Writeups/Offline/Gemastik Preliminaries/Introduction into Kernel Exploitation/release/bzImage
Writeups/Offline/Find IT! CTF 2023 Preliminaries/[SOLVED] Bypass the Py/dist/chall/python310.dll
Writeups/Offline/Find IT! CTF 2023 Preliminaries/[SOLVED] Bypass the Py/dist/chall/libcrypto-1_1.dll
Writeups/Offline/Find IT! CTF 2023 Preliminaries/[SOLVED] Bypass the Py/dist.zip
Writeups/Offline/Pra Gemastik Preliminaries 2023/weeb/flag.enc
Writeups/Offline/Pra Gemastik Preliminaries 2023/weeb/test.zip
Writeups/Offline/Pra Gemastik Preliminaries 2023/may the force be with you/libc.so.6
Writeups/Offline/Pra Gemastik Preliminaries 2023/now you see me/libc-2.29-9.fc30.x86_64.so
Writeups/Online/AmateursCTF 2023/[FIN] i-love-ffi/libi_love_ffi.so
Writeups/Online/AmateursCTF 2023/simpleOS/zig-cache/o/2506b1e4302d9edbf48ff57da4375324/build
Writeups/Online/AmateursCTF 2023/simpleOS/zig-cache/o/2506b1e4302d9edbf48ff57da4375324/build.o
Writeups/Online/AmateursCTF 2023/rusteze/rusteze
Writeups/Online/DawgCTF 2023/Amogus/amoguspics.zip
Writeups/Online/VishwaCTF 2023/The Secret Image/The Secret Image/The Secret Image.7z
Writeups/Online/VishwaCTF 2023/The Sender Conundrum/rockyou.txt
